@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #f8f9fa;
  --bg-dark: #343a40;
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-dark {
  background-color: var(--bg-dark);
}

body {
  /* background-color: var(--bg-dark);
  color: var(--bg-light); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}